@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}


.menuIcon{
  display: none !important;
  color: white !important;
}

@media only screen and (min-width: 256px) and (max-width: 1248px) {
  .menuIcon {
    display: inline-block !important;
  }
 }